.line{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: auto;
    padding-top: 3px;
   margin-bottom: 90px;
}

.place-order-btn{
        text-decoration: none;
        display: inline-block;
        padding: 0 12px;
        background: orangered;
        border-radius: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 28px;
        transition: .3s ease-in;
        width: 350px;
        height: 50px;
}
.place-order-btn:hover{
    background: orangered;
 }
 .itogo{
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #7B7B7B;


 }

 .placing-in-order{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 