.review {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    padding: 15px;
    border: 3px solid orangered;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.postControl {
    display: flex;
    align-items: center;
}

.postControl button {
    padding: 0;
}

.deleteBtn svg {
    font-size: 32px;
}
.review-img{
    cursor: pointer;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.username-in-review{
    margin-bottom: 1%;
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #1b1919;
}

.comment-str, .username-in-review{
    margin-bottom: 1%;
    font-weight: bolder;
}

/* .review-img {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8%;
    background: #CCC center no-repeat;
    background: rgba(0, 0, 0, 0.5) center no-repeat;
    background-size: contain;
    background-origin: content-box;
  }
  .review-img:target {
    display: block;
  } */