
.product-card{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: auto auto;
    width: 90vw;
}

.main{
    display: grid;
    height: 100%;
    background: #fafafa;
    padding: 15px 0;
    grid-template-columns: 500px 2fr;
    gap: 30px;
}

.card-img{
    flex-grow: 0.15;
    margin-left: 2%;
    margin-top: 2%;
    left: 120px;
    top: 160px;
    max-width: 500px;
    height: 100%;
}
.buy-block{
    height: 40%;
    flex-grow: 0.15;
    padding: 1%;
    margin-bottom: 25%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25%;
    border: 2px solid rgba(254, 91, 0, 1)
}
.short-descript{
    font-weight: 400;
    text-align: left;
    font-family: 'Courier New';
    font-size: 16px;
    line-height: 36px;

}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
 }
 .add-btns1 {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #fc5a5a;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    font-family: 'Impact';
    color:#fde3d5;
    font-size: 14px;
    line-height: 16px;
 
 }

.descript{
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 71%;
    text-align: left;
    font-family: 'Courier New';
    font-size: 16px;
    line-height: 36px;

}
.parameters{
    width: 39%;
    margin-left: 7%;
    margin-top: 1%;
}
.parameters-table{
    width: 100%;

}
.parameters{
    margin-bottom: 7%;
}
.parameters-string{
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Impact';
    line-height: 24px;
    font-size: 40px;
    letter-spacing: -0.5px;
    color: #363230;
}
.weight{
    margin-bottom: 3%;
}
