.quantity-rectangle{
    width: 105px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(234 232 230);
      background-repeat: no-repeat;
      background-size: cover;
}
.btn-less, .btn-more{
    width: 36px;
    height: 44px;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
}
.quantity-text{
    margin-top: 5px;
    width: 8px;
    height: 24px;
}