.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-in-basket-img{
    width: 100px;
    height: 144px;
      background-repeat: no-repeat;
      background-size: cover;
}
.product-in-basket{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quantity-product-cell{
    display: flex;
    justify-content: center;
}
.delete-img{
    width: 20px;
    height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
}
.name-and-korzh{
    padding-left: 15px;
}
.korzh-basket{
    margin-top: 20px;
}
.basket-product-weight{
    margin-bottom: 10px;
}
.product-name-in-basket{
    margin-bottom: 10px;
}