.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.adaptive{
    width: 100%;
    height: 100%;
}

.root{
    width: 100vw;
}
@media(min-width: 1200px){
    .main{
        grid-template-columns: 450px 2fr;
        grid-template-rows: 650px 1fr;
    }
    .buy-block{
        margin-left: 36px;
        margin-right: 36px;
        margin-top: 182px;
        margin-bottom: 182px;
    }
    .card-img{
        max-height: 690px;
    }
    
}
@media(max-width: 1200px){
    .main{
        grid-template-columns: 450px 2fr;
    }
    .buy-block{
        margin-right: 15%;
        height: 50%;
    }

    
}

@media(max-width: 972px){
    .type-item, .product-cart{
        height: 35vw;
    }
    .parameters{
        width: 45%;
    }
    .parameters-string{
        font-size: 33px;
    }
    .my-basket-string{
        font-size: 29px;
    }
    .reviews-str{
        font-size: 27px;
    }
    .btn-outline-warning{
        font-size: 17px;
        height: auto;
    }
    .review-img{
         height: 20vw;
    }
}

@media(max-width: 840px){
    .main{
        grid-template-columns: 300px 2fr;
        grid-template-rows: 300px 1fr;
    }
    .descript{
        font-size: 12px;
    }
    .parameters{
        width: 62%;
    }
    .buy-block{
        height: 83%;
        margin-right: 2%;
        margin-top: 11%;
        margin-bottom: 2%;
        margin-left: 3%;
    }
    .parameters-string{
        font-size: 29px;
    }
    .review-img{
        height: 25vw;
   }

}
@media(max-width: 768px){

    .typeBar, .product-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .type-item, .product-cart{
        height: 40vw;
    }
    .main{
        grid-template-columns: 200px 1fr;
        grid-template-rows: 260px 1fr;
        gap: 5px;
    }
    .buy-block{
        height: 80%;
        margin-right: 20%;
        margin-top: 11%;
        margin-bottom: 2%;
        margin-left: 3%;
    }
    .price{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .button{
        padding: 7px 7px;
    }
    hr{
        margin: 2%;
    }
    .main-page, .type-page, .product-page, .add-btns1,
    .select
    {
        line-height: 5px;
        font-size: 12px;
    }
    .short-descript{
        line-height: 14px;
        font-size: 12px;
    }
    .price{
        font-size: 20px;
    }
    .weight{
        margin-bottom: 2%;
    }
    .korzh{
        margin-bottom: 0px;
    }
    .parameters-string{
        font-size: 24px;
        margin-bottom: 1%;
    }
    .home-work-string{
        font-size: 16px;
    }
    .review-navbar-btn, .basket-navbar-btn{
        font-size: 13px;
    }
    .placing-in-order{
        grid-row: 1/3;
    }
    .line{
        grid-template-columns: repeat(2, 1fr);
    }
    .place-order-btn{
        width: 225px;
        height: 40px;
        font-size: 12px;
    }
    .phone{
        grid-row-start: 2;
        grid-column-start: 1;
        margin: auto;
    }
    .select-date{
        margin: auto;
    }
    .my-basket-string{
        font-size: 24px;
    }
    .go-back{
        margin-left: 3%;
    }
    .reviews-str{
        font-size: 24px;
    }
    .username-in-review{
        font-size: 17px;
    }
    .comment-str {
        font-size: 15px;
    }
    .review-text{
        font-size: 14px;
    }
    .parametr-title {
        font-size: 15px;
        line-height: 16px;
    }
    .product-add-str{
        font-size: 14px;
    }

}

@media(max-width: 600px){
    .parameters{
        width: 85%;
    }
    .buy-block{
        height: 70%;
    }
    .parameters-string{
        font-size: 25px;
    }
    .home-work-string{
        width: 110px;
    }
    .go-to-shop{
        font-size: 13px;
    }
    .go-back{
        margin-left: 2%;
    }
    .reviews-str{
        font-size: 21px;
    }
    .btn-outline-warning{
        font-size: 14px;
    }
    .username-in-review{
        font-size: 15px;
    }
    .comment-str {
        font-size: 13px;
    }
    .review-text{
        font-size: 12px;
        margin-bottom: 0%;
    }
    .comment-str, .username-in-review {
        margin-bottom: 0%;
    }
    .review {
        padding: 8px;
    }
    .review-img{
        height: 28vw;
   }

}

@media(max-width: 480px){
    .typeBar, .product-list{
        width: 60vw;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .type-item, .product-cart{
        height: 60vw;
    }
    .main{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .card-img{
        max-width: 200px;
        margin: auto;
        width: 50vw;
    }
    .buy-block{
        height: 95%;
        margin: auto;
        width: 85%;
        margin-top: 1%;
    }
    .main-page, .type-page, .product-page, .short-descript, .add-btns1,
    .select, .parameters
    {
        font-size: 12px;
    }
    .price{
        font-size: 20px;
    }
    .weight, .korzh{
        margin-bottom: 2%;
    }
    .product-card{
        grid-template-rows: 1fr auto auto;
    }
    .parameters{
        width: 100%;
        margin-left: 5%;
    }
    .parameters-string{
        padding-right: 20%;
        font-size: 20px;
    }
    .home-work-string{
        font-size: 13px;
    }
    .review-navbar-btn, .basket-navbar-btn{
        font-size: 12px;
        width: 90px;
    }
    .line{
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
        border: none;

    }
    .placing-in-order{
        grid-row: 3/3;
    }
    .phone{
        grid-row-start: 2; 
        grid-column-start: 1;
    }
    th{
        font-size: 11px;
        padding: 0 0 0 10px;
    }
    .btn-less, .btn-more{
        width: 23px;
        height: 25px;
    }
    .quantity-rectangle{
        width: 70px;
        height: 30px;
    }
    .my-basket-string{
        font-size: 19px;
    }
    .product-in-basket-img{
        width: 20vw;
        height: 24vw;
    }
    .itogo{
        font-size: 14px;
        line-height: 14px;
    }
    .summa{
        font-size: 16px;
    }
    .place-order-btn{
        width: 138px;
        height: 37px;
        font-size: 11px;
        border-radius: 6px;
    }
    .go-back{
        margin-left: 1%;
    }
    .go-to-shop{
        font-size: 10px;
    }
    .arrow{
        margin-top: 1px;
    }
    .reviews-str{
        font-size: 16px;
    }
    .btn-outline-warning{
        font-size: 10px;
        width: 95px;
    }
    .username-in-review{
        font-size: 10px;
    }
    .comment-str {
        font-size: 9px;
    }
    .review-text{
        font-size: 9px;
    }
    .comment-str, .username-in-review {
        margin-bottom: 0%;
    }
    .review {
        margin-bottom: 1%;
        border: 1px solid orangered;
        margin-top: 6px;
    }
    .descript {
        line-height: 22px
    }
    .parametr-title {
        font-size: 15px;
        line-height: 20px;
    }
    .product-add-str{
        font-size: 10px;
    }
    .modal-header {
        padding: 7px 1rem;
    }
    .modal-title{
        font-size: 15px;
    }
    .modal {
        left: 35px;
        z-index: 1050;
        width: 83%;
    }
    .modal-body {
        padding: 5px;
    }
    .form-label{
        font-size: 13px;
        margin-bottom: 0;
    }
    .form-control{
        font-size: 13px;
        margin-top: 0px;
    }

    .btn-outline-danger, .btn-outline-success{
        font-size: 13px;
    }
}

@media(max-width: 410px){
    .parameters-string{
        font-size: 17px;
    }
    .parameters{
        font-size: 8px;
    }
    .my-basket-string{
        font-size: 18px;
    }
    
}

@media(max-width: 395px){
    .main-page, .type-page, .product-page{
        font-size: 10px;
    }
    .review-navbar-btn, .basket-navbar-btn{
        width: 70px;
    }
}